.lightbox-div {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.746);
	z-index: 1000;
}
.lightbox-big-img-cont {
	position: relative;
}
.lightbox-img {
	width: 34.375rem;
	height: 34.375rem;
	border-radius: 20px;
}
.prev-icon,
.next-icon,
.close-icon {
	width: 2.5rem;
	height: 2.5rem;
	position: absolute;
	cursor: pointer;
}
.close-icon {
	top: -50px;
	right: -10px;
}
.close-icon svg {
	padding: 3px 0 0 1px;
	scale: 1.5;
	fill: #fff;
	transition: 0.15s all ease-in-out;
}
.close-icon:hover svg {
	fill: var(--color-orange);
}
.prev-icon,
.next-icon {
	width: 3.5rem;
	height: 3.5rem;
	top: 50%;
	transform: translateY(-50%);
	background-color: var(--color-white);
	border-radius: 50%;
}
.prev-icon svg,
.next-icon svg {
	fill: white;
	stroke: #1d2026;
	transition: all 0.15s ease-in-out;
}
.prev-icon:hover svg,
.next-icon:hover svg {
	stroke: var(--color-orange);
}
.prev-icon {
	left: -28px;
}
.next-icon {
	right: -28px;
}
.close-icon button,
.prev-icon button,
.next-icon button {
	/* display: flex;
	justify-content: center;
	align-items: center; */
	width: 100%;
	height: 100%;
	border-radius: 50%;
	cursor: pointer;
	background-color: transparent;
	border: none;
}


.lightbox-thumb-img-cont {
	width: 25rem;
	padding-top: 1.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	user-select: none;
}
.lightbox-thumb-img-cont img {
	width: 100%;
	height: 100%;
	cursor: pointer;
	overflow: hidden;
	transition: all 0.15s ease-in-out;
	border-radius: 12px;
}
.lightbox-thumb-img-cont .small-div-image {
	background-color: white;
	border: 3px solid rgba(0, 0, 0, 0.746);
	width: 5.25rem;
	height: 5.25rem;
	border-radius: 15px;
	transition: all 0.15s ease-in-out;
}
.lightbox-thumb-img-cont .selected-div {
	border: 3px solid var(--color-orange);
}
.lightbox-thumb-img-cont img:hover,
.selected-image {
	opacity: 0.4;
}
.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently */
}
