.app__flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.p-text {
	text-align: left;
	color: var(--brown-color);
	line-height: 2.5;
}

/* credits */
.attribution {
	position: absolute;
	bottom: 2rem;
	left: 50%;
	transform: translateX(-50%);
}
footer a,
footer a:visited {
	font-size: large;
	text-decoration: none;
	color: var(--color-orange);
	transition: color 0.2s ease-in-out;
	font-weight: var(--font-bold);
}
footer a:hover {
	color: #2196f3;
}
@media screen and (min-width: 62.5625rem) {
	.attribution {
		bottom: 0;
		left: 5%;
		transform: translateX(-50%);
	}
}
