.section__padding {
	padding: 4rem 6rem;
}

.app__flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.p-text {
	text-align: left;
	color: var(--brown-color);
	line-height: 2.5;
}
