.app__product {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.app__product-container {
	display: flex;
	max-width: 69%;
	margin-top: 7rem;
	flex-direction: row;
	justify-content: space-around;
}

/* PRODUCT IMGS */
.app__product-images,
.app__product-desc {
	padding: 0 2rem;
	display: flex;
	justify-content: center;
	flex-direction: column;
	max-width: 50%;
}
.app__product-img {
	max-width: 30rem;
}

.app__product-img img {
	width: 100%;
	height: 100%;
}
.big-image {
	border-radius: 15px;
}
.app__product-thumbnail {
	padding-top: 2rem;
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	align-items: center;
}
.app__product-thumbnail:not(:first-child :last-child) {
	margin: 0 1rem;
}

.small-div-image {
	border: 3px solid transparent;
	width: 6.25rem;
	height: 6.25rem;
	border-radius: 15px;
	transition: all 0.15s ease-in-out;
}
.selected-div {
	border: 3px solid var(--color-orange);
}

.app__product-thumbnail img {
	width: 100%;
	height: 100%;
	cursor: pointer;
	overflow: hidden;
	transition: all 0.15s ease-in-out;
	border-radius: 12px;
}
.app__product-thumbnail img:hover,
.selected-image {
	opacity: 0.4;
}

/* DESCRIPTION */
.app__company-title {
	color: var(--color-orange);
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: var(--font-bold);
	padding-bottom: 1.5rem;
}
.app__product-title {
	color: var(--very-dark-blue);
	text-transform: capitalize;
	font-size: 3rem;
	line-height: 1.2;
	padding-bottom: 2.5rem;
}
.app__product-text {
	font-size: 1.125rem;
	color: var(--dark-grayish-blue);
	line-height: 1.7;
	padding: 0 0 1.5rem 0;
	max-width: 80%;
}

.app__product-newPrice {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-bottom: 1rem;
}

.product-price-now {
	color: var(--very-dark-blue);
	font-weight: var(--font-bold);
	font-size: var(--font-size);
	padding-right: 1rem;
}

.product-sale {
	color: var(--color-orange);
	background-color: var(--pale-orange);
	font-weight: var(--font-bold);
	font-size: var(--font-p);
	padding: 4px 10px;
	border-radius: 5px;
}
.app__product-oldPrice {
	padding-bottom: 2.5rem;
}

.product-price-old {
	display: inline-block;
	position: relative;
	color: var(--grayish-blue);
	font-weight: var(--font-bold);
	font-size: var(--font-p);
}
.product-price-old::before {
	content: "";
	position: absolute;
	bottom: 9px;
	background-color: var(--grayish-blue);
	height: 1px;
	width: 100%;
}

.app__product-ctas {
	display: flex;
	/* justify-content: center; */
	align-items: center;
}

.app__quantity {
	padding-right: 1rem;
}

.app__quantity span {
	background-color: var(--light-grayish-blue);
	width: 60px;
	height: 60px;
	cursor: pointer;
	/* padding: 14px 18px; */
}
.app__quantity img {
	transition: all 0.2s ease-in-out;
}
.app__quantity span:hover img {
	opacity: 0.7;
}

.num {
	font-weight: var(--font-bold);
	color: var(--very-dark-blue);
}

.add-to-cart {
	height: 60px;
	width: 18rem;
	background-color: var(--color-orange);
	color: var(--color-white);
	border-radius: 10px;
	border: none;
	box-shadow: 0 20px 40px rgba(255, 125, 26, 0.318);
	cursor: pointer;
	transition: all 0.15s ease-in-out;
}
.add-to-cart:hover {
	opacity: 0.7;
}
.btn-text {
	font-weight: var(--font-bold);
	font-size: 1rem;
	padding: 0 1rem;
}

/* mobile view */
/* max-1000px */
@media screen and (max-width: 62.5rem) {
	.app__product-container {
		max-width: 100%;
		flex-direction: column;
		margin-top: 0;
		justify-content: center;
	}
	/* images */
	.app__product-images,
	.app__product-desc {
		padding: 0;
		max-width: 100%;
	}
	.app__product-img {
		max-width: 100%;
	}
	.big-image {
		object-fit: cover;
		border-radius: 0;
		width: 100%;
		/* height: 20%; */
		aspect-ratio: 4/3;
	}
	.app__product-thumbnail {
		display: none;
	}

	/* Desc */
	.app__product-desc {
		padding: 1.5rem;
	}
	.app__company-title {
		font-size: 0.8125rem;
		padding-bottom: 1rem;
	}
	.app__product-title {
		font-size: 1.75rem;
		padding-bottom: 1rem;
	}
	.app__product-text {
		font-size: 0.9375rem;
		max-width: 100%;
	}
	.app__prices {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 1.5rem;
		/* flex-direction: column; */
	}
	/* .app__product-newPrice {
		width: 60%;
	} */
	.product-price-now {
		font-size: 2rem;
	}
	.app__product-newPrice {
		padding: 0;
	}
	.app__product-oldPrice {
		padding: 0;
		display: flex;
		align-items: center;
	}

	/* btns */
	.app__product-ctas {
		flex-direction: column;
	}
	.app__quantity {
		padding: 0 0 15px 0;
		width: 100%;
	}
	.app__quantity span {
		width: 100%;
	}
	.minus {
		border-radius: 10px 0 0 10px;
	}
	.plus {
		border-radius: 0 10px 10px 0;
	}
	.app__buttons {
		width: 100%;
		margin-bottom: 6rem;
	}
	.add-to-cart {
		width: 100%;
	}
}
/* from 600px to 1000px */
@media screen and (min-width: 37.5rem) and (max-width: 62.5rem) {
	.app__product-container {
		max-width: 35rem;
		padding-top: 2rem;
		flex-direction: column;
		margin-top: 0;
		justify-content: center;
	}
}
/* from 1001px */
@media screen and (min-width: 62.5625rem) {
	.app__product-container {
		max-width: 60rem;
	}
	.add-to-cart {
		width: 11.25rem;
	}
   .app__product{
      margin-bottom: 8rem;
   }
}

/* from 1301px */
@media screen and (min-width: 81.25rem) {
   .app__product-container {
		max-width: 70%;
	}
	.add-to-cart {
		width: 18rem;
	}
}
@media screen and (min-width:1600px) {
   .app__product-container {
		max-width: 82rem;
	}
}
footer {
	position: relative;
}

